:root {
  width: 100%;
  height: 100%;
}
.custom-card {
  background-color: rgba(39, 194, 196, 0.58) !important;
}

body {
background-color: rgb(177, 239, 240) !important;
height: 100%;
display: flex;
justify-content: center; /* Horizontally center the content */
align-items: center; /* Vertically center the content */
}

.custom-placeholder::placeholder {
  color: rgb(133, 168, 169) !important; 
}